.mealImage {
  height: 100vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  background-color: white;
  opacity: 0.6;
  padding: 14px 24px;
}
.box:hover {
  background-color: #4527a0;
  opacity: 0.6;
  color: white;
}
.text {
  font-weight: bold;
  font-size: 64px;
}
@media only screen and (max-width: 1024px) {
  .mealImage {
    height: 50vh;
    width: 100vw;
  }
  .box {
    padding: 30px 40px;
  }
}
@media only screen and (max-width: 576px) {
  .box {
    padding: 14px 24px;
  }
  .text {
    font-size: 40px;
  }
}
